

body {
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #e3e3e3;
    width: 100%;
    margin-bottom: 60px;
    
}

header {
     padding-top: 20%;
}

.btn {
    margin-bottom: 2%;
    -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn-circle {
  width: 70px;
  height: 70px;
  margin-top: 5px;
  padding: 7px 16px;
  border: 2px solid black;
  border-radius: 100% !important;
  font-size: 40px;
  color: black;
  background: transparent;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.btn-circle:hover,
.btn-circle:focus {
  outline: none;
  color: #FF383F;
  border-color: #FF383F;
}
.btn-circle i.animated {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;
}
.btn-circle:hover i.animated {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {
  0 {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes pulse {
  0 {
    -moz-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}



header h1 {
  font-weight: 700;
  margin: 0;
  padding: 2rem;
}

a {
    text-decoration: none;
}

#navigation {
  padding: 3rem 1rem 1rem 1rem;
}


#top a{
    color: black;
    padding: 0 1rem 0 1rem;
}

#navigation a {
    padding: 1rem;
    font-size: 2rem;
     -webkit-transition: .5s all ease-out;
    -moz-transition: .5s all ease-out;
    transition: .5s all ease-out;
}

#navigation a:hover {
    background-color: #FF383F;
    text-decoration: none;
}


.navbar-custom {
    background-color:white;
    color: black;
    font-family: 'Oswald', sans-serif;
}



#intro {
    
    background-color: #9ad3de;
    color: black;
    margin: 0 0 0 0;
    
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.intro {
    color: black;
    background-color: #9ad3de;
    text-align: center;
}

.jumbotron p
 {
    padding-left: 5%;
    padding-right: 5%; 
    font-size: 3rem;
    margin-bottom: 2%;
}


#profile-picture {
    padding: 2%;
    size: 20%;
}

.centering {
        float: none;
        margin: 0 auto;
}

#navbar-bottom {
    background-color: white;
}

#social a {
    margin: 0 1rem;
     -webkit-transition: .5s all ease-out;
    -moz-transition: .5s all ease-out;
    transition: .5s all ease-out;
	text-decoration: none;
}

.fa-twitter:hover {
    color: #2196F3;
}

.fa-facebook:hover {
    color: #3F51B5
}

.fa-google:hover {
    color: #F44336
}

.fa-github:hover {
    color: #03A9F4
;
}

hr {
  
   position: relative;
   margin: 8px auto;
   height: 0.5%;
  
   font-size: 1px;
   line-height: 0;
   clear: both;
   border: none;
   background-color: #FF383F;
}



.selected {
   border: 3px solid #9ad3de;
   border-radius: 5px;
   -webkit-transition: .1s all ease-out;
    -moz-transition: .1s all ease-out;
    transition: .1s all ease-out;
    
}

.thumbnail {
    margin: 10px;
    
}

.thumbnail:hover {
    border: 3px solid #9ad3de;
}




#gallery {
    background-color: #e6cf8b;
    height: 100vh;
}

#gallery h1 {
    font-size: 10rem;
    padding: 20px;
    margin: 20px;
    font-family: 'Fjalla One', sans-serif;
}

form {
    margin-top: 5%;
    
}



html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

#button {
    background-color: #FF383F; /* Green */
    border: none;
    color: black;
    padding: 16px 32px;
    line-height:30px;
	border-radius:20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 2%;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
  
}


#button:hover {
    background-color: green; /* Green */
    color: white;
}


@media (min-width: 768px) {




.intro p {
    font-size: 3rem;
}


}



@media (min-width: 767px) {
  .content-section {
    padding-top: 250px;
  }
  .download-section {
    padding: 100px 0;
  }
  #map {
    height: 400px;
    margin-top: 250px;
  }

.btn {
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 0;
}
.btn-default {
  border: 1px solid #42DCA3;
  color: #42DCA3;
  background-color: transparent;
}
.btn-default:hover,
.btn-default:focus {
  border: 1px solid #42DCA3;
  outline: none;
  color: black;
  background-color: #42DCA3;
}

header {
     padding-top: 0%;
}

}