

header h1 {
  font-weight: 700;
  margin: 0;
  padding: 2rem;
}



#navigation {
  padding: 3rem 1rem 1rem 1rem;
}

#top a{
    color: black;
    padding: 0 1rem 0 1rem;
}

#navigation a {
    padding: 1rem;
    font-size: 2rem;
     -webkit-transition: .5s all ease-out;
    -moz-transition: .5s all ease-out;
    transition: .5s all ease-out;
    border-top: 3px solid white;
}

#navigation a:hover {
    background-color: #FF383F;
    text-decoration: none;
}


.navbar-custom {
    background-color:white;
    color: black;
    font-family: 'Oswald', sans-serif;
}

#jumbo {
    margin: -2% 2% 0% 2%;
    background-color: #A9A9A9;
    color: white;

}

#profile {
    float: right;
    size: 50%;
}

#navbar-bottom {
    background-color: #CAEBF2;
}

#social {
    padding: 1.5rem 0 1rem 0;
}

#social a {
    margin: 0 1rem;
     -webkit-transition: .5s all ease-out;
    -moz-transition: .5s all ease-out;
    transition: .5s all ease-out;
    border-top: 3px solid white;
    color: inherit; 
	text-decoration: none;
}

.fa-twitter:hover {
    color: #2196F3;
}

.fa-facebook:hover {
    color: #3F51B5
}

.fa-google:hover {
    color: #F44336
}

.fa-github:hover {
    color: #03A9F4
;
}